.dp img{
    width: 400px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;

}

.container {
    margin: 30px;
}

.margin{
    color: rgba(255, 0, 0, 0);
    margin-top: 50px;
}

.box {
    margin-left: 5%;
}

.container h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: Raleway;
} 

.details {
    padding: 20px;
    width: 400px;
    height: auto;
    border: solid 1px #003722;
    border-radius: 20px;
    box-shadow: 10px 10px #003722;
    margin-bottom: 5%;

}

.details ul li p{
    font: raleway;
    color: black;
    font-size: 1.25rem;
    margin-bottom: 10px;
}


.add button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline-block element */
    font-size: 28px; /* Font size */
    font-family: lora;
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin-left: 50px;
    margin-top: 20px;
    width: 300px;
    height: 100px;
  }
  
  .add button:hover {
    background-color: #45a049; /* Darker green on hover */
  }