.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-color: #A0E4A5;
    width: 500px;
    height: 600px;
    margin: 200px 0px 200px 0px;
    padding: 30px;
    border-radius: 20px;

    box-shadow: 2px 2px rgb(89, 179, 149);
}

.container h2{
    font-size: 4rem;
    font-family: raleway;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box input{
    width: 100%;
    padding: 10px;
    margin: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: lora;
    box-shadow: 1px 1px rgb(89, 179, 149);
}

.box button{
    height: 40px;
    width: 200px;
    margin: 20px;
    background-color: #4dae4f;
    border: none;
    box-shadow: 1px 1px rgb(0, 128, 128);
    border-radius: 5px;
    font-size: 16px;
    font-family: raleway;
}

.box button:hover{
    background-color: #479d49;
}

.box p{
    font-size: 1.1rem;
    font-family: raleway;
    color: black;
    align-items: left;
    margin-right: 170px ;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
}