.container {
    display: block;


    margin: 20px;
}

.container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin-bottom: 10px;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}

input:focus {
    border-color: #A0E4A5; /* Change border color on focus */
    outline: none; /* Remove default outline */
}
